<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    <div class="navbar  navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="
                 -header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="glyphicon glyphicon-usd"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("Finanzas Para Todos", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li>@Html.ActionLink("Inicio", "Index", "Home")</li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ingreso<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Agregar Ingreso", "Index", "INGRESO_TIPO")</li>
                            <li>@Html.ActionLink("Gestionar Ingresos", "Index", "INGRESOes")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Egreso<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Gestionar Egresos", "Index", "EGRESOes")</li>
                            <li>@Html.ActionLink("Agregar Egreso", "Index", "EGRESO_TIPO")</li>
                            <li>@Html.ActionLink("Renglones", "Index", "EGRESO_RENGLON")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Pagos<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Gestionar Pagos", "Index", "PAGO_TIPO")</li>
                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Usuarios<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Gestionar Usuarios", "Index", "USUARIOs")</li>
                        </ul>
                    </li>
                </ul>
               
                    @Html.Partial("_LoginPartial")
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
            <div class="wrapper">
                <div class="wrap">
                    <header>
                        <div class="logo"></div>
                        <nav>
                            <ul>
                                <li></li>
                                <li></li>
                                <li></li>
                            </ul>
                        </nav>
                    </header>

                    <div class="arrow animated bounce"></div>

                    <section class="transparent">
                        <div class="headline"></div>
                        <div class="text"></div>
                        <div class="text"></div>
                        <div class="button"></div>
                    </section>

                    <section class="cards">
                        <div class="card">
                            <img src="https://imgplaceholder.com/500x300/transparent/ddd/ion-image" alt="">
                            <div class="content">
                                <div class="headline"></div>
                                <div class="text"></div>
                                <div class="text"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://imgplaceholder.com/500x300/transparent/ddd/ion-image" alt="">
                            <div class="content">
                                <div class="headline"></div>
                                <div class="text"></div>
                                <div class="text"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                        <div class="card">
                            <img src="https://imgplaceholder.com/500x300/transparent/ddd/ion-image" alt="">
                            <div class="content">
                                <div class="headline"></div>
                                <div class="text"></div>
                                <div class="text"></div>
                                <div class="button"></div>
                            </div>
                        </div>
                    </section>

                    <section class="Registro profesores">
                        <div class="Actualidad"></div>
                        <div class="Registro"></div>
                        <div class="Legal"></div>
                        <div class="Contacto"></div>
                        <div class="Red de  Colaboradores"></div>
                        <div class="Profesores"></div>
                        <div class="Día de la Educación"></div>
                        <div class="Financiera"></div>
                        <div class="Premios de la Educación"></div>
                        <div class="Financiera"></div>
                        <div class="button"></div>
                    </section>

                </div>
            </div>

            <footer>
                <div class="content">
                    <div class="logo"></div>
                    <nav>
                        <ul>
                            <li></li>
                            <li></li>
                            <li></li>
                        </ul>
                    </nav>
                </div>
            </footer>
            <p>&copy; @DateTime.Now.Year - Finanzas Personales. Desarrollado por Finanzas UNAPEC. Todos los derechos reservados.</p>
 
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
