@model IEnumerable<FinanzasPersonales_G_.TRANSACION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Transacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Evento)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Transacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Registro)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Monto_Transacion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NO_Tarjeta_CR)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comentario)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAGO_TIPO.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.USUARIO1.Nombre)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Transacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Evento)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Transacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Fecha_Registro)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Monto_Transacion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NO_Tarjeta_CR)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Comentario)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAGO_TIPO.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.USUARIO1.Nombre)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
