@model IEnumerable<FinanzasPersonales_G_.Models.INGRESO>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Gestion de Ingresos</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Reporte", "exportaExcel", null, new { @class = "btn btn-success" })
</p>
<form method="get">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" class="btn btn-info" id="cmdBuscar" value="Buscar" />
</form>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Obtencion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INGRESO_TIPO.Descripcion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Tipo_Obtencion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INGRESO_TIPO.Descripcion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
