@model IEnumerable<FinanzasPersonales_G_.Models.USUARIO>

@{ ViewBag.Title = "Index"; }

<h2 class="text-center">Usuarios</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
</p>
<form method="get">
    <input type="text" id="Criterio" name="Criterio" />
    <input type="submit" class="btn btn-info" id="cmdBuscar" value="Buscar" />
</form>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cedula)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Limite_Egreso)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tipo_Persona)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Fecha_Corte)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Nombre)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Cedula)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Limite_Egreso)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Tipo_Persona)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Fecha_Corte)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Estado)
    </td>
    <td>
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-info" }) |
        @Html.ActionLink("Details", "Details", new { id = item.ID }, new { @class = "btn btn-warning" }) |
        @Html.ActionLink("Delete", "Delete", new { id = item.ID }, new { @class = "btn btn-danger" })
    </td>
</tr>}

</table>
