@model IEnumerable<FinanzasPersonales_G_.Models.EGRESO_RENGLON>

@{
    ViewBag.Title = "Index";
}

<h2 class="text-center">Categoria Egreso</h2>

<p>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-success" })
    @Html.ActionLink("Reporte", "ExportaExcel", null, new { @class = "btn btn-success" })
</p>
<form method="get">
    <input type="text" id="Criterio" name="Criterio"/>
    <input class="btn btn-info" type="submit" id="cmdBuscar"  value="Buscar" />
</form>
<table class="table table-striped">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Descripcion)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Estado)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Descripcion)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }, new { @class = "btn btn-info" }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }, new { @class = "btn btn-warning" }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }, new { @class = "btn btn-danger" })
        </td>
    </tr>
}

</table>
