@model FinanzasPersonales_G_.INGRESO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INGRESO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Tipo_Obtencion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Tipo_Obtencion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Estado)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estado)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INGRESO_TIPO.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INGRESO_TIPO.Descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
